/* Font Link */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,100&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Navigation bar */

.header-container {
    background-color: #1f2937;
}

.navigation-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.navigation-bar-links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    list-style-type: none;
}

.logo,
.navigation-bar-links {
    width: 36%;
    margin-left: 10px;
}

.navigation-bar-links li {
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}


/* Header content */

.header-content {
    position: relative;
    width: 70%;
    height: 65vh;
    max-height: 65vh;
    margin: 0 auto;
}

.header-main-container {
    width: 50%;
    height: 100%;
}

.header-main-content {
    position: absolute;
    top: 26%;
    width: 45%;
}

.header-main-content h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.header-main-content p {
    color: #e5e7eb;
    font-size: 18px;
}

.sign-up-button {
    background-color: #3882f6;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
    padding: 10px 35px;
    font-size: 16px;
}

.header-image-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100%;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 228px;
    background-color: gray;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 26%;
}


/* Main Content */

.main-container h1 {
    color: #1f2937;
    text-align: center;
    margin-top: 35px;
    font-size: 36px;
    font-weight: 900;
}

.random-information-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 760px;
    gap: 40px;
    margin: 50px auto;
}

.image-boxes {
    border: 3px solid #3882f6;
    height: 150px;
    border-radius: 15px;
}

.image-boxes-subtext {
    text-align: center;
    padding: 10px 0;
}


/* Quote Content */

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    background-color: #e5e7eb;
    height: 415px;
    font-size: 36px;
    font-weight: 900;
}

.quote-content {
    width: 70%;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-style: normal;
    font-size: 25px;
    font-weight: 400;
}


/* Call To Action Content */

.call-to-action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 415px;
}

.call-to-action-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #3882f6;
    color: #fff;
    position: relative;
    width: 75%;
    height: 180px;
    border-radius: 15px;
}

.call-to-action-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.call-to-action-header {
    font-size: 24px;
    font-weight: 900;
}

.call-to-action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

.second-sign-up-button {
    background-color: #3882f6;
    color: #fff;
    cursor: pointer;
    border: 3px solid #fff;
    border-radius: 8px;
    margin-top: 12px;
    padding: 10px 55px;
    font-size: 16px;
}


/* Footer */

footer {
    text-align: center;
    background-color: #1f2937;
    color: #fff;
    width: 100%;
    padding: 40px;
}